{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
        {{#if feature_image}}
        <div class="rounded-lg border border-slate-200 p-8 hover:bg-slate-50 first-span" style="height:35vh; background-image: url({{img_url feature_image}});  background-position: center; background-size: cover;">
          <div class="grid h-full content-between text-white">
            <h2 class="text-xl font-normal"><a href="{{url}}">{{title}}</a></h2>
            <div class="flex justify-between text-sm font-light">
              <span><i class="bi bi-calendar3"></i> {{date format="YYYY-MM-DD"}}</span>
              <span>
                {{#if tags}}
                <i class="bi bi-tags"></i> {{#foreach tags}}<a href="{{url}}" title="{{name}}">{{name}}</a> {{/foreach}}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
        <!-- end -->
        {{else}}
        <!-- start -->
        <div class="rounded-lg border border-slate-200 p-8 hover:bg-slate-50 first-span" style="height:35vh;">
          <div class="grid h-full content-between text-slate-600">
            <h2 class="text-xl font-normal"><a href="{{url}}">{{title}}</a></h2>
            <div class="flex justify-between text-sm font-light">
              <span><i class="bi bi-calendar3"></i> {{date format="YYYY-MM-DD"}}</span>
              <span>
                {{#if tags}}
                <i class="bi bi-tags"></i> {{#foreach tags}}<a href="{{url}}" title="{{name}}">{{name}}</a> {{/foreach}}
                {{/if}}
              </span>
            </div>
          </div>
        </div>
        <!-- end -->
        {{/if}}
{{/foreach}}